.about_experiens,
.about_languages,
.about_education {
  border: 5px solid;
  border-image-source: linear-gradient(
    225deg,
    #420aa3 22%,
    rgba(233, 94, 7, 0.69) 53%,
    #535bf2 82%
  );
  border-image-slice: 1;
}
