.home_discription {
  border: 2px solid;
  border-image-source: linear-gradient(
    225deg,
    #420aa3 22%,
    rgba(233, 94, 7, 0.69) 53%,
    #535bf2 82%
  );
  border-image-slice: 1;

  .home_img {
    display: block;
    width: 200px;
    height: 255px;
    border: 2px solid #420aa3;
    filter: drop-shadow(0 0 3em #646cffaa);
  }
}

.my_logo {
  height: 300px;
  width: 300px;
  padding: 1.5em;
  border-radius: 50%;
  border: 2px solid #420aa3;
  overflow: hidden;
  filter: drop-shadow(0 0 4em #646cffaa);
}
