@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.skill_ikons_wrapper {
  margin: 10px auto;

  overflow: hidden;

  div {
    width: 200%;
    animation: marquee 10s linear infinite;
    display: flex;

    span {
      width: 100%;
      display: block;
      display: flex;
      justify-content: space-around;

      img {
        width: 10%;
        padding-top: 5px;
      }
    }
  }
}

.skills_list_wrapper {
  min-height: 27em;

  border-radius: 10px;
  background: linear-gradient(
    225deg,
    rgba(128, 64, 181, 1) 22%,
    rgba(233, 106, 7, 0.6896008403361344) 53%,
    rgba(83, 124, 242, 0.9977240896358543) 82%
  );
  .skill_box {
    height: 50px;
    min-width: 280px;
    border-radius: 20px;
  }
}
