@import './styles/custom';
@import 'bootstrap/scss/bootstrap';

$navbar-height: 60px;
#root {
  width: 1320px;
  max-width: 1320px;
  margin: 0 auto;
  text-align: center;
  background-color: inherit;
}
.main_container {
  width: 100%;
  min-height: calc(100vh - $navbar-height);
  margin-top: $navbar-height;
}
