@import './styles/custom';
@import 'bootstrap/scss/bootstrap';

$margin-top: 60px;
#root {
  max-width: 1320px;
  width: 1320px;
  margin: 0 auto;
  text-align: center;
  background-color: inherit;
}
.main_container {
  width: 100%;

  min-height: calc(100vh - $margin-top);
  margin-top: $margin-top;
}
