#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.my_logo {
  height: 12em;
  padding: 1.1em;
  border-radius: 50%;
  outline: 2px solid #420aa3;
}
.my_logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
