html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: red;*/
  /* background-image: url('../src/assets/4562023-hd_1040_1848_30fps.mp4'); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f36524;
  text-decoration: inherit;
}
a:hover,
a:active {
  color: #7e45ee;
  animation: grow_txt 1s linear 0s infinite alternate;
}
@keyframes grow_txt {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020010;
  box-sizing: border-box;

  /* background: rgb(128, 64, 181); */
  /* background: linear-gradient(
    225deg,
    rgba(128, 64, 181, 1) 22%,
    rgba(233, 106, 7, 0.6896008403361344) 53%,
    rgba(83, 124, 242, 0.9977240896358543) 82%
  ); */
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
  letter-spacing: 3.5px;
  color: #535bf2;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5;
  letter-spacing: 3.5px;
  color: #f36524eb;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
